.awt {
  color: white;
}

.abg {
  background-color: #101828;
}
.cont {
  padding-right: 80px;
  padding-left: 80px;
}

.incs {
  height: 50px;
  border: none; 
  border-radius: 30px;
  background: #101828;
  box-shadow: inset 8px 8px 8px #090e17, inset -8px -8px 8px #172239;
  color: white;
}

.incs:focus {
  height: 50px;
  border: none; 
  border-radius: 30px;
  background: #101828;
  box-shadow: inset 8px 8px 8px #090e17, inset -8px -8px 8px #172239;
  color: white;
}