.bgclr {
  background-color: #101828;
}

.bbox {
  box-shadow: 20px 20px 30px #0d1320, -20px -20px 30px #131d30;
  border-radius: 30px;
  background-color: #101828;
  color: white;
}

.dbtn {
  width: 100px;
  box-shadow:  8px 8px 8px #090e17,
  -8px -8px 8px #172239;
  border-radius: 50px;
  color: white;
}

.dbtn:hover {
  width: 100px;
  background: #101828;
  box-shadow: inset 8px 8px 8px #090e17,
              inset -8px -8px 8px #172239;
  color: white;
}