.bg {
  background-color: #101828;
}

.txt {
  color: white;
}

.cont {
  padding-right: 80px;
  padding-left: 80px;
}

.abtn {
  width: 200px;
  box-shadow: 8px 8px 8px #090e17, -8px -8px 8px #172239;
  border-radius: 50px;
  color: white;
}

.abtn:hover {
  width: 200px;
  background: #101828;
  box-shadow: inset 8px 8px 8px #090e17, inset -8px -8px 8px #172239;
  color: white;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse";
  background: #101828;
  box-shadow: 8px 8px 8px #090e17, -8px -8px 8px #172239;
  border-radius: 50px;
}

.custom-file-label {
  position: absolute;
  height: 40px;
  border: none;
  border-radius: 30px;
  background: #101828;
  box-shadow: inset 8px 8px 8px #090e17, inset -8px -8px 8px #172239;
  color: white;
}
.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + 0.75rem);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  content: "Browse";
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}

.incs {
  height: 50px;
  border: none;
  border-radius: 30px;
  background: #101828;
  box-shadow: inset 8px 8px 8px #090e17, inset -8px -8px 8px #172239;
  color: white;
}

.incs:focus {
  height: 50px;
  border: none;
  border-radius: 30px;
  background: #101828;
  box-shadow: inset 8px 8px 8px #090e17, inset -8px -8px 8px #172239;
  color: white;
}

textarea {
  background: #101828;
}