.bg {
  background-color: #101828;
}

.txt {
  color: white;
}

.cont {
  padding-right: 80px;
  padding-left: 80px;
}

.cbtn {
  width: 200px;
  box-shadow: 8px 8px 8px #090e17, -8px -8px 8px #172239;
  border-radius: 50px;
  color: white;
}

.cbtn:hover {
  width: 200px;
  background: #101828;
  box-shadow: inset 8px 8px 8px #090e17, inset -8px -8px 8px #172239;
  color: white;
}
